@import './mixin.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(0, 0, 0, 0.902);
    font-family: "Montserrat", sans-serif !important;
    color: whitesmoke;
}